{% extends 'pbn/service_1/base.html' %}
{% load static %}
{% block index %}
    <meta name="robots" content="index, follow" />
{% endblock index %}
{% block canonical %}
    https://{{ request.get_host }}{% url "policy" %}
{% endblock canonical %}
{% block content %}
    <section class="breadcrumb my-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="global-title mb-3">Политика конфиденциальности</h1>
                    <div class="breads">
                        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement"
                                itemscope
                                itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/"><span itemprop="name">Главная</span></a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement"
                                itemscope
                                itemtype="http://schema.org/ListItem">
                                <span itemprop="name">Политика конфиденциальности</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="seo mb-5">
        <div class="container">
            <div class="seo__block">{{ text_policy|safe }}</div>
        </div>
    </section>
{% endblock content %}
