{% extends 'pbn/service_1/base.html' %}
{% load static %}
{% block index %}
    <meta name="robots" content="index, follow" />
{% endblock index %}
{% block canonical %}
    https://{{ request.get_host }}{% url "services" %}
{% endblock canonical %}
{% block content %}
    <section class="breadcrumb my-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="global-title mb-3">Услуги</h1>
                    <div class="breads">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <span>Услуги</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-services py-4 mb-4">
        <div class="container">
            <div class="row g-4">
                {% for service  in list_services %}
                    <div class="col-12 col-sm-6 col-lg-3">
                        <article class="service-card h-100">
                            <div class="service-thumb ratio ratio-16x9">
                                <a href="{% url "services" %}{{ service.slug }}/">
                                    <img src="/media/{{ service.preview_picture }}"
                                         alt="{{ service.name }}"
                                         title="{{ service.name }}">
                                </a>
                            </div>
                            <a href="{% url "services" %}{{ service.slug }}/">
                                <h3 class="service-title">{{ service.name }}</h3>
                            </a>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="seo mb-5">
        <div class="container">
            <div class="seo__block">{{ service_text|safe }}</div>
        </div>
    </section>
    {% include "pbn/service_1/include/form.html" %}
{% endblock content %}
