{% load static %}
{% spaceless %}
    <!DOCTYPE html>
    <html lang="ru">
        <head>
            {% block index %}
            {% endblock index %}
            {% if yandex_webmaster %}<meta name="yandex-verification" content="{{ yandex_webmaster }}" />{% endif %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{{ title }}</title>
            <meta name="description" content="{{ description|default_if_none:"" }}" />
            <meta name="keywords" content="{{ keywords|default_if_none:"" }}" />
            <meta name="robots" content="index, follow" />
            <link rel="canonical" href="{% block canonical %}{% endblock canonical %}" />
            <link rel="icon" href="/media/{{ favicon }}">
            <link rel='stylesheet'
                  href='https://fonts.googleapis.com/css?family=Roboto%3A700%7CRoboto%3A400&#038;display=swap&#038;ver=5.8.10'
                  type='text/css'
                  media='all' />
            <link rel="stylesheet" href=" {% static 'pbn/first/css/style.css' %}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            {% if google_analytics %}
                <!-- Google tag (gtag.js) -->
                <script async
                        src="https://www.googletagmanager.com/gtag/js?id={{google_analytics}}"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', '{{google_analytics}}');
                </script>
            {% endif %}
            {% if yandex_metrika %}
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();
                for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
                k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                ym({{yandex_metrika}}, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
                });
                </script>
                <noscript>
                    <div>
                        <img src="https://mc.yandex.ru/watch/{{ yandex_metrika }}"
                             style="position:absolute;
                                    left:-9999px"
                             alt="" />
                    </div>
                </noscript>
                <!-- /Yandex.Metrika counter -->
            {% endif %}
        </head>
        <body class="home blog">
            <div class="overlay"></div>
            <div class="grid">
                <header id="theme-header" role="banner">
                    <div class="logo">
                        <a href="/">
                            <img class="hidden-xs"  src="/media/{{ logo }}" />
                        </a>
                        <span class="site-title visible-xl">
                            <a style="color:black" href="/">{{ domain_domain }}</a>
                        </span>
                    </div>
                    <nav class="primary" id="primary">
                        <button class="mobile-menu-icon mobile-trigger mobile-trigger--slider">
                            <span class="mobile-trigger-box">
                                <span class="mobile-trigger-inner"></span>
                                <span class="screen-reader-text">Меню</span>
                            </span>
                        </button>
                        <ul id="primary" class="menu">
                            {% for category in list_category %}
                                <li id="menu-item-110950" class="menu-item">
                                    <a href="/blog/{{ category.slug }}/">{{ category.name|capfirst }}</a>
                                </li>
                            {% endfor %}
                            {% for page in list_other_page %}
                                <li id="menu-item-110950" class="menu-item">
                                    <a href="/{{ page.slug }}/">{{ page.name|capfirst }}</a>
                                </li>
                            {% endfor %}
                            <li id="menu-item-110950" class="menu-item">
                                <a href="{% url "search" %}">
                                    <svg width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg"
                                         style="margin:-5px auto">
                                        <path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                        </path>
                                    </svg>
                                Поиск</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                {% block content %}
                {% endblock content %}
                <footer id="footer" class="footer">
                    <div class="row" id="footer-widgets">
                        <div class="col-xl-12">
                            <ul id="primary" class="menu">
                                {% for category in list_category %}
                                    <li id="menu-item-110950" class="menu-item">
                                        <a href="/blog/{{ category.slug }}/">{{ category.name|capfirst }}</a>
                                    </li>
                                {% endfor %}
                                {% for page in list_other_page %}
                                    <li id="menu-item-110950" class="menu-item">
                                        <a href="/{{ page.slug }}/">{{ page.name|capfirst }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </footer>
                <script type="text/javascript" src="{% static "/pbn/first/js/script.js" %}"></script>
                {% block scripts %}
                {% endblock scripts %}
            </body>
        </html>
    {% endspaceless %}
