{% extends 'pbn/service_2/base.html' %}
{% load static %}
{% block index %}
    <meta name="robots" content="index, follow" />
{% endblock index %}
{% block canonical %}
    https://{{ request.get_host }}{% url "services" %}{{ service_slug }}/
{% endblock canonical %}
{% block content %}
    <section class="breadcrumb mb-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breads">
                        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement"
                                itemscope
                                itemtype="http://schema.org/ListItem">
                                <a href="/" itemprop="item"><span itemprop="name">Главная</span></a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement"
                                itemscope
                                itemtype="http://schema.org/ListItem">
                                <span itemprop="name">Услуги</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </div>
                    <h1 class="section-title mb-3 fw-bold">Услуги</h1>
                </div>
            </div>
        </div>
    </section>
    {% include "pbn/service_2/include/our_service.html" %}
    <section class="seo mb-5">
        <div class="container">
            <div class="seo__block">{{ service_text|safe }}</div>
        </div>
    </section>
{% endblock content %}
