{% extends 'pbn/service_3/base.html' %}
{% load static %}
{% block index %}<meta name="robots" content="index, follow" />{% endblock index %}
{% block canonical %}https://{{ request.get_host }}{% url "services" %}{% endblock canonical %}
{% block content %}
    <!-- Хлебные крошки -->
    <div class="breadcrumbs-wrapper">
        <div class="section-container"
             itemscope
             itemtype="http://schema.org/BreadcrumbList">
            <nav class="breadcrumbs" aria-label="Хлебные крошки">
                <span itemprop="itemListElement"
                      itemscope
                      itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">Главная</span></a>
            <meta itemprop="position" content="1" />
        </span>
        <span class="separator">/</span>
        <span class="current"
              itemprop="itemListElement"
              itemscope
              itemtype="http://schema.org/ListItem"> <span itemprop="name">Каталог услуг</span>
        <meta itemprop="position" content="2" />
    </span>
</nav>
</div>
</div>
<!-- Заголовок с текстом -->
<section class="page-header">
    <div class="page-header-container">
        <h1>Каталог услуг</h1>
        {{ service_text|safe }}
    </div>
</section>
<!-- Блок услуг -->
{% include "pbn/service_3/include/services.html" %}
{% endblock content %}
