<div class="category">
    <h2>Категории</h2>
    <div class="category-grid">
        {% for category in list_category %}
            <div class="category-item">
                <div class="category-item__photo">
                    <img src="/media/{{ category.img_preview }}" alt="">
                </div>
                <a href="{% url "blog" %}{{ category.slug }}/"
                   class="category-item__name">{{ category.name|capfirst }}</a>
            </div>
        {% endfor %}
    </div>
</div>
